* {
    --main-color: #f7146b;
    --second-color: #1d1d1b;
    --tertiary-color: #fff4f8;
}



/*POST CLASS*/
main>.post {
    margin: 30px;
    display: flex;
    justify-content: space-between;
    background-color: var(--tertiary-color);
    border-radius: 20px;
    box-shadow: 5px 5px 6px -2px rgba(0, 0, 0, 0.67);
}

main>.post:hover {
    transform: rotate(0.3deg);
}

main>.post>sidebar {
    padding: 1em;
    background-color: var(--main-color);

}

main>.post>.post-box {
    padding: 1.5em;
}

main>.post>.post-box>header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

main>.post>.post-box>header>img {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    border: solid 1px var(--main-color)
}

main>.post>.post-box>header>.profile-info>.username {
    font-weight: 900;
}

main>.post>.post-box>footer {
    padding: 10px 0;
}

main>.post>.post-box>footer>ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

main>.post>.post-box>footer>ul>li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    font-size: 1.4em;
    font-weight: 900;
}

main>.post>.post-box>footer>ul>li {}

main>.post>.post-box>footer>ul>li:hover {
    color: #f7146b
}