* {
    --main-color: #f7146b;
    --second-color: #1d1d1b;
    --tertiary-color: #fff4f8;
    font-family: 'Montserrat';
    color: #1D1D1B;
}

body {
    display: flex;
    justify-content: space-between;
}

#main-home {
    margin-left: 30%;
}

/*NAVIGATION*/

header>nav {
    background-color: var(--second-color);
    height: calc(100% - 65px);
}

nav>img {
    width: 109px;
    height: 78px;
    color: var(--main-color);
}

nav>h1 {
    color: var(--tertiary-color);
}

nav>ul {
    padding: 130px;
    color: var(--tertiary-color);
}

nav>li {
    font-size: medium;
}

#navBar {
    height: 100vh;
    position: fixed;
    width: 26%;
}

header>footer {
    background-color: var(--main-color);
    font-family: 'Raleway';
    color: #1D1D1B;
}

nav,
h1 li {
    font-family: "Raleway";
    color: white;
}

/*Post*/
.add-a-post {
    text-align: center;
    margin: 1vh 5vw;
    padding: 1px;
}

.add-a-post>form>textarea {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    border: solid, 1px, var(--main-color);
    width: 100%;
    resize: none;
    background-color: lightblue;
    border-radius: 0 20px 0 0;
    padding: 1em;
    color: var(--second-color)
}

.add-a-post:hover {
    opacity: 0.80;
}

.thread {
    display: flex;
    flex-direction: column-reverse;
}

.post {
    margin: 1vh 5vw;
    display: flex;
    justify-content: flex-start;
    background-color: var(--tertiary-color);
    border-radius: 20px;
    box-shadow: 5px 5px 6px -2px rgba(0, 0, 0, 0.67);
}

.post:hover {
    transform: rotate(0.3deg);
}

.post>sidebar {
    padding: 1em;
    background-color: var(--main-color);

}

.post>.post-box {
    padding: 1.5em;
}

.post>.post-box>header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.post>.post-box>header>img {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    border: solid 1px var(--main-color)
}

.post>.post-box>header>.profile-info>.username {
    font-weight: 900;
}

.post>.post-box>footer {
    padding: 5px 0;
}

.post>.post-box>footer>ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.post>.post-box>footer>ul>li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    font-size: 1.4em;
    font-weight: 900;
}

.post>.post-box>footer>ul>li>img {
    width: 1.4em;

}

.post>.post-box>footer>ul>li:hover {
    color: var(--main-color)
}

/*button*/

button {
    font-family: 'Raleway';
    color: var(--main-color);
    border-radius: 25px;
    border-width: 1px;
    background-color: white;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-weight: 600;

}


.pencilbutton {
    height: 10px;
}


/*profil*/

.imagedefond {
    margin: 10px 10px 0px 10px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-image: url("assets/img/tennis-2585621_1280.jpg");
    height: 250px;

}

.imagedeprofile {
    border-radius: 50%;
    border: solid;
    border-color: var(--main-color);
    height: 250px;
    width: 250px;
    position: relative;
    bottom: -100px;
}

.texteprofil {
    margin-top: 115px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    gap: 8px;
}

.texteprofil h1 {
    font-weight: 1000;
}

.compteur {
    display: flex;
    gap: 30px;
    font-weight: 800;
}

p.dateprofil {
    font-weight: 600;
    font-style: italic;
}

.lastpost {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    font-weight: 1000;
    font-size: 30px;
    width: 550px;

}

header>nav>img {
    width: 109px;
    height: 78px;
    color: var(--main-color);

}

header>nav>h1 {
    color: var(--tertiary-color);
}

header>nav>ul>li {
    padding: 32px;
    color: var(--tertiary-color);
}

header>footer {
    background-color: var(--main-color);
}